body{
  max-height: 100vh;

}
.game-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  width : 500px;
  height: 500px;
  gap :0.3rem;
  margin:auto;
}
.game-container div{
  padding: 20px;
  /* background-color: rgb(245, 207, 157); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* color:rgb(43, 244, 60) */

}
.color-for-0{
  background-color: #f5be58;
}
.color-for-2{
  background-color: #f35c5c;
}
.color-for-4{
  background-color: #fb7e25;
}
.color-for-8{
  background-color: #fbf725;
}
.color-for-16{
  background-color: #a2fb25;
}
.color-for-32{
  background-color: #25fb77;
}
.color-for-64{
  background-color: #25e2fb;
}
.color-for-128{
  background-color: #256cfb;
}
.color-for-256{
  background-color: #7025fb;
}
.color-for-512{
  background-color: #c225fb;
}
.color-for-512{
  background-color: #fb25cd;
}
.color-for-1024{
  background-color: #fb257a;
}
.color-for-2048{
  background-color: #fb2525;
}
.resetBtn{
  padding:10px 20px;
  background-color: #f11f1f;
  color : white;
  border: none;
  font-size: 1.5rem;
}

.flex-row{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #63a5df; /* #10171D */
  font-size: 0.875rem !important;
}
.toast-message{
  padding-left: 20px;
  line-height: 20px;
  padding: 0px;
  padding-top: 25px;
  width: 400px !important;
  text-align: center;
} 
@media screen and (max-width: 550px) {
  .game-container{
  
    width : 350px;
    height: 350px;
   
  }
 
}
